html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Toastify__toast {
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.Toastify__toast--success {
  background: rgb(98, 199, 250) !important;
  color: #282c34 !important;
}

.Toastify__toast--error {
  background: #e15e5e !important;
  color: #282c34 !important;
}

.Toastify__toast-body {
  font-weight: 500;
}

.ReactLoadingSkeleton, .SkeletonTheme {
  border-radius: 12px; /* radius semua skeleton */
  font-family: 'Inter', sans-serif;
}

/* Skeleton khusus light/dark mode */
.SkeletonTheme-light .ReactLoadingSkeleton {
  background-color: #e9ecef; /* base color */
  background-image: linear-gradient(90deg, #e9ecef, #f8f9fa, #e9ecef); /* highlight */
}

.SkeletonTheme-dark .ReactLoadingSkeleton {
  background-color: #2a2a2a; 
  background-image: linear-gradient(90deg, #2a2a2a, #3a3a3a, #2a2a2a);
}

/* Optional: height & width default */
.ReactLoadingSkeleton {
  height: 150px;
  width: 100%;
}