html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Toastify__toast {
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.Toastify__toast--success {
  background: rgb(98, 199, 250) !important;
  color: #282c34 !important;
}

.Toastify__toast--error {
  background: #e15e5e !important;
  color: #282c34 !important;
}

.Toastify__toast-body {
  font-weight: 500;
}
